<ul class="list-unstyled">
  <% posts.each do |post| %>
    <li class="media mb-3">
      <% if post.user.image? %>
        <%= image_tag post.user.image.url, :size => '50x50', class: "mr-2 rounded" %>
      <% else %>
        <img class="mr-2 rounded" src="<%= gravatar_url(post.user, { size: 50 }) %>" alt="">
      <% end %> 
      <div class="media-body ">
        <div>
          <%= link_to post.user.name, user_path(post.user) %> <span class="text-muted">posted at <%= post.created_at %></span>
        </div>
        <div class="row">
          <% if post.image? %>
            <div class="col-sm-5">
              <%= image_tag post.image.url %>
            </div>
          <% end %>
          <div class="col-sm-7">
            <p class="mb-10"><%= simple_format(post.content) %></p>
           
            <%= render "favorites/favorites_button", post: post %>
            
            <% if current_user == post.user %>
              <%= link_to "写真を編集する", edit_post_path(post), class: "btn btn-danger btn-sm" %>
            <% end %>
            
          </div>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate posts %>
</ul>